%button {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  &:hover {
    transform: scale(0.98);
  }
}
.button-1 {
  @extend %button;
  @include set-background(lighten($primary-color, 10%));
}
.button-2 {
  @extend %button;
  @include set-background($secondary-color);
}
